<div class="container">
	<header  class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="#" [routerLink]="['/']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			<span class="fs-4">Fullstack Exam</span>
		</a>

		<ul class="nav nav-pills">
			<li class="nav-item"><a href="#" [routerLink]="['/']" class="nav-link">ร้านค้า</a></li>
			<li class="nav-item"><a href="#" [routerLink]="['/product']" class="nav-link">สินค้า</a></li>
		</ul>
	</header>
</div>